---
import MainLayout from "../layouts/MainLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<MainLayout title="About" description="Learn more about me">
  <div class="py-6 max-w-3xl mx-auto">
    <h1 class="text-4xl font-bold text-gray-200">About</h1>
    <p class="text-lg text-gray-400 mt-4">
      Hi there 👋
    </p>
    <p class="text-lg text-gray-400 mt-2">
      I'm Jonathan Sebastian Marbun, a passionate and enthusiastic person in the field of Cyber Security, especially in the DFIR field.
    </p>
    <p class="text-lg text-gray-400 mt-2">
      Currently active playing CTF with <a href="https://sniteam.xyz/" class="text-blue-400">SNI Cybersecurity Team</a>
    </p>
    <p class="text-lg text-gray-400 mt-2">
      Sometimes I actively conduct research related to Digital Forensic, Incident Response, Malware Analysis and create CTF problems for various CTF events.
    </p>

    <div class="mt-6">
      <h2 class="text-3xl font-bold text-gray-200">Achievements</h2>
      <div class="overflow-x-auto mt-4">
        <table class="w-full text-left border-collapse border border-gray-700">
          <thead>
            <tr class="bg-gray-800 text-gray-300">
              <th class="p-2 border border-gray-700">Event</th>
              <th class="p-2 border border-gray-700">Achievement</th>
              <th class="p-2 border border-gray-700">Organizer</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">FindIT CTF - 2024</td>
              <td class="p-2 border border-gray-700">Finalist</td>
              <td class="p-2 border border-gray-700">Gadjah Mada University</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">DSTA CDDC Brainhack - 2024</td>
              <td class="p-2 border border-gray-700">Finalist</td>
              <td class="p-2 border border-gray-700">Defense Science and Technology Agency, Singapore</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">Hacktheon Sejong - 2024</td>
              <td class="p-2 border border-gray-700">Honorable Mention III</td>
              <td class="p-2 border border-gray-700">Sejong City Hall, South Korea</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">Nullcon HackIM Berlin CTF - 2024</td>
              <td class="p-2 border border-gray-700">3rd Place</td>
              <td class="p-2 border border-gray-700">NullCon</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">Space Heroes CTF - 2024</td>
              <td class="p-2 border border-gray-700">2nd Place</td>
              <td class="p-2 border border-gray-700">FITSEC</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">KMIPN VI Cyber Security Category - 2024</td>
              <td class="p-2 border border-gray-700">1st Place</td>
              <td class="p-2 border border-gray-700">BAKORMA</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">Technofair 11 CTF - 2024</td>
              <td class="p-2 border border-gray-700">Finalist</td>
              <td class="p-2 border border-gray-700">Gunadarma University</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">IT Today HackToday CTF - 2024</td>
              <td class="p-2 border border-gray-700">Finalist</td>
              <td class="p-2 border border-gray-700">IPB University</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">Gemastik XVII Cyber Security Category - 2024</td>
              <td class="p-2 border border-gray-700">Finalist</td>
              <td class="p-2 border border-gray-700">Puspresnas</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">Blackhat MEA CTF - 2024</td>
              <td class="p-2 border border-gray-700">Finalist</td>
              <td class="p-2 border border-gray-700">Blackhat MEA, Saudi Arabia</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">Informatics Fest CTF - 2024</td>
              <td class="p-2 border border-gray-700">3rd Place</td>
              <td class="p-2 border border-gray-700">Padjajaran University</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">COMPFEST 16 CTF - 2024</td>
              <td class="p-2 border border-gray-700">1st Place</td>
              <td class="p-2 border border-gray-700">University of Indonesia</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">Cyber Jawara International - 2024</td>
              <td class="p-2 border border-gray-700">1st Place</td>
              <td class="p-2 border border-gray-700">CSIRT.id & IdNSA</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">Interfest CTF - 2024</td>
              <td class="p-2 border border-gray-700">Finalist</td>
              <td class="p-2 border border-gray-700">Telkom University</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">Backdoor CTF - 2024</td>
              <td class="p-2 border border-gray-700">1st Place</td>
              <td class="p-2 border border-gray-700">InfoSecIITR</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">ARA 6.0 CTF - 2025</td>
              <td class="p-2 border border-gray-700">Finalist</td>
              <td class="p-2 border border-gray-700">Sepuluh Nopember Institute of Technology</td>
            </tr>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">TAMUctf (Open Division) - 2025</td>
              <td class="p-2 border border-gray-700">1st Place</td>
              <td class="p-2 border border-gray-700">Texas A&M University</td>
            </tr>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">BreachCTF - 2025</td>
              <td class="p-2 border border-gray-700">1st Place</td>
              <td class="p-2 border border-gray-700">Cyber Security Community IIT Bombay</td>
            </tr>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">1753CTF - 2025</td>
              <td class="p-2 border border-gray-700">1st Place</td>
              <td class="p-2 border border-gray-700">17 53c</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">UMass CTF - 2025</td>
              <td class="p-2 border border-gray-700">3rd Place</td>
              <td class="p-2 border border-gray-700">UMass Cybersecurity Club</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">FindIT 2025 CTF</td>
              <td class="p-2 border border-gray-700">6th Place</td>
              <td class="p-2 border border-gray-700">DTETI Universitas Gadjah Mada</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">UMDCTF 2025</td>
              <td class="p-2 border border-gray-700">4th Place</td>
              <td class="p-2 border border-gray-700">University of Maryland Cybersecurity Club</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">NUS GreyCTF 2025</td>
              <td class="p-2 border border-gray-700">2nd Place</td>
              <td class="p-2 border border-gray-700">NUS GreyHats</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">Indonesia Vocational Olympics 2025, Cybersecurity</td>
              <td class="p-2 border border-gray-700">2nd Place</td>
              <td class="p-2 border border-gray-700">Vocational Faculty of Brawijaya University</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="mt-6">
      <h2 class="text-3xl font-bold text-gray-200">Experiences</h2>
      <div class="overflow-x-auto mt-4">
        <table class="w-full text-left border-collapse border border-gray-700">
          <thead>
            <tr class="bg-gray-800 text-gray-300">
              <th class="p-2 border border-gray-700">Event</th>
              <th class="p-2 border border-gray-700">Organizer</th>
              <th class="p-2 border border-gray-700">Experience</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">Wreck IT 5.0</td>
              <td class="p-2 border border-gray-700">National Cyber and Crypto Polytechnic</td>
              <td class="p-2 border border-gray-700">Challenge Author, Head of Organizer</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">Cyber Specter's Cyber Hunt 2024</td>
              <td class="p-2 border border-gray-700">Cyber Specters</td>
              <td class="p-2 border border-gray-700">Challenge Author</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">Sanapati Cyberhunt 2024</td>
              <td class="p-2 border border-gray-700">National Cyber and Crypto Polytechnic</td>
              <td class="p-2 border border-gray-700">Challenge Author, Organizer</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">Cyber Ops Clash 2024</td>
              <td class="p-2 border border-gray-700">Meta4Sec & Cyber Specters</td>
              <td class="p-2 border border-gray-700">Challenge Author</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">IT-Del CTF 2024</td>
              <td class="p-2 border border-gray-700">Del Institute of Technology</td>
              <td class="p-2 border border-gray-700">Challenge Author, Infrastructure</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">SNI CTF 2024</td>
              <td class="p-2 border border-gray-700">SNI Cybersecurity Team</td>
              <td class="p-2 border border-gray-700">Challenge Author, Head of Organizer</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">Cyber Sentrix 2024</td>
              <td class="p-2 border border-gray-700">Cyber Specters</td>
              <td class="p-2 border border-gray-700">Challenge Author</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">Sanapati Cyberhunt 2025</td>
              <td class="p-2 border border-gray-700">National Cyber and Crypto Polytechnic</td>
              <td class="p-2 border border-gray-700">Challenge Author, Organizer</td>
            </tr>
            <tr class="bg-gray-900 text-gray-400">
              <td class="p-2 border border-gray-700">Cyber Jawara National 2024</td>
              <td class="p-2 border border-gray-700">CSIRT.id, IdNSA, SKSD</td>
              <td class="p-2 border border-gray-700">Challenge Author (Final Round)</td>
            </tr>
            <tr class="bg-gray-800 text-gray-400">
              <td class="p-2 border border-gray-700">Cyber Ops Clash 2025</td>
              <td class="p-2 border border-gray-700">Meta4Sec & Cyber Specters</td>
              <td class="p-2 border border-gray-700">Challenge Author</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</MainLayout>
