---
import MainLayout from "../layouts/MainLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import FeaturedPosts from "../components/FeaturedPosts.astro";
import RecentPosts from "../components/RecentPosts.astro";
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="py-6">
    <div class="text-4xl max-w-full font-medium">
      <h1
        class="bg-gradient-to-r from-slate-100 to-slate-400 inline-block text-transparent bg-clip-text"
      >
        {SITE_TITLE} - {SITE_DESCRIPTION}
      </h1>
    </div>
    <div class="text-xl max-w-2xl font-normal pb-8">
      <h1
        class="bg-gradient-to-r from-slate-100 to-slate-400 inline-block text-transparent bg-clip-text"
      >
        need cybersecurity or forensic consultation? looking for forensic ctf challenge creation/problem setting? feel free to reach me out!
      </h1>
    </div>
    <FeaturedPosts />
    <div class="border-t border-zinc-800 my-8"></div>
    <RecentPosts />
  </div>
</MainLayout>
